body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-image:url('background img2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
header {
    background-color: #d6e1d7;
    padding: 20px;
    text-align: center;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image {
    margin: 10px;
}

.image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
form {
    margin: 0 auto;
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   
}

button[type="submit"]:hover {
    background-color: #45a049;
}
header {
display: flex;
justify-content: space-between;
align-items: right ;
}

nav {
display: flex;
gap: 10px; /* Adjust the gap between buttons */
}

.btn {
text-decoration: none;
padding: 5px 10px;
background-color: #007bff;
color: #fff;
border-radius: 5px;
}

/* You can add more styles as needed */
